.about-hero-image {
    width: 100%;
}

.about-page-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem 4rem;
}

.about-page-content {
    color: #161616;
    max-width: 900px;
    padding-right: 10px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    font-size: 18px;
    line-height: 22px;
}

.about-page-cta {
    background-color: #b3c6d3;
    color: #161616;
    padding: 0 32px 32px;
    border-radius: 5px;
}

.about-page-cta .about-page-button:hover {
    background: rgb(59, 87, 126);
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 28px;
    line-height: 32px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

@media (max-width: 1090px) {
    .about-page-info {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-block: 2rem;
    }

    .about-page-info {
        padding-block: 1rem 2rem;
    }

    .about-page-content {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        padding-right: 0;
    }

    .about-page-cta {
        width: 100%;
        text-align: center;
    }

    .about-page-content p {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (max-width: 520px) {
    .about-page-content h1 {
        font-size: 28px;
        line-height: 26px;
        text-align: start;
    }
    .about-page-content p {
        text-align: start;
    }

    .about-page-cta {
        padding-inline: 12px;
    }

    .about-page-cta h2 {
        font-size: 24px;
        line-height: 26px
    }
}