.host-layout {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.host-layout a {
    color: #4D4D4D;
    font-weight: 500;
    transition: 0.3s ease;
}

.host-layout a:hover {
    color: #161616;
}

.host-layout .active {
    color: #343434;
    font-weight: bold;
    text-decoration: underline;
}