.host-layout a {
    margin-right: 15px;
    color: #4D4D4D;
    font-weight: 500;
    transition: 0.3s ease;
}

.host-layout {
    padding-inline: 32px;
}

.host-layout a:hover {
    color: #161616;
}

.host-layout .active {
    color: #343434;
    font-weight: bold;
    text-decoration: underline;
}