header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    width: 100%;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header .site-logo img {
    max-width: 160px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
    transition: 0.3s ease;
}

header a:hover {
    color: #161616;
}

@media (max-width: 365px) {
    header {
        flex-direction: column;
    }

    header .site-logo {
        width: 150px;
        margin: 0 auto;
        padding-inline: 0;
    }
}