header {
    height: 110px;
    display: flex;
    align-items: center;
    width: 100%;
}
header nav {
    display: flex;
    align-items: center;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header .site-logo img {
    max-width: 160px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    transition: 0.3s ease;
}
header nav a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: 0.15s ease;
}

header nav a:hover {
    color: #161616;
    transform: scale(1.2);
}

header nav a {
    margin-left: 25px;
}

.active {
    color: #161616;
}

@media (max-width: 600px) {
    header nav {
        display: none;
    }
}